@model IEnumerable<Case3.FEWebwinkel.Site.ViewModels.CatalogusViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="catalog-heading">
    <h2 class="catalog-header">Catalogus</h2>
    <a class="shopping-cart" href="/Winkelmand" title="Naar winkelmandje"><i class="glyphicon glyphicon-align-center glyphicon-shopping-cart"></i></a>
    
</div>
<div class="clearfix"></div>

<div class="catalog-section">
    @foreach (var item in Model)
    {
        <div class="catalog-product">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="product-top">
                    <div class="img-wrapper" style="background-image:url(@item.Afbeeldingslocatie)">
                        @Html.Hidden("ID", item.ID)
                        @Html.Hidden("Afbeeldingslocatie", item.Afbeeldingslocatie)
                    </div>
                    <div class="info-wrapper">
                        <p>
                            @Html.DisplayFor(modelItem => item.Naam)
                            @Html.Hidden("Naam", item.Naam)
                        </p>
                        <p>

                            @Html.DisplayFor(modelItem => item.Leverancier)
                            @Html.Hidden("Leverancier", item.Leverancier)
                        </p>
                        <p>
                            &#8364 @Html.DisplayFor(modelItem => item.Prijs)
                                   @Html.Hidden("Prijs", item.Prijs)
                        </p>
                        <p>
                            10 in voorraad
                        </p>
                    </div>
                </div>

                <div class="product-bottom">
                    <input type="submit" value="Aan winkelmand toevoegen" class="btn btn-primary" />
                </div>
            }
        </div>
    }

</div>
