@model Case3.FEBestellingen.Site.ViewModels.BestellingViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Bestelling</h2>

<table class="table">
    <tr>
        <th>
            Artikel
        </th>
        <th>
            Leverancier
        </th>
        <th>
            Leverancierscode
        </th>
        <th>
            Aantal
        </th>
    </tr>

    @foreach (var item in Model.Artikelen)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtikelNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leveranciersnaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leverancierscode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal)
            </td>
        </tr>
    }
 
    <tr>
        <td colspan="4">@Html.ActionLink("Ingepakt", "Index", "Factuur", new { area = "" }, new { @class = "btn btn-primary btn-lg bestel-knop" })</td>
    </tr>
</table>

<div class="clearfix"></div>

