@model Case3.FEBestellingen.Site.ViewModels.BestellingViewModel

@* Begin Bestelling Page *@
<div id="bestellen">
    <h2>Bestelling</h2>
    <table class="table">
        <tr>
            <th>
                Artikel
            </th>
            <th>
                Leverancier
            </th>
            <th>
                Leverancierscode
            </th>
            <th>
                Aantal
            </th>
        </tr>

        @foreach (var item in Model.Artikelen)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtikelNaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Leveranciersnaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Leverancierscode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aantal)
                </td>
            </tr>
        }
        <tr>
            <td colspan="3"></td>
            <td>
                <button id="bestelbutton" class="btn-primary btn-lg">Ingepakt</button>
            </td>
        </tr>
    </table>
</div>
@* End Bestelling Page *@
@* Begin Factuur Page *@
<div id="factuur" class="hide">
    <div>
        <h1>Factuur</h1>
        <div class="pull-right">
            <p>
                Kantilever B.V. <br />
                Kruisboog 42<br />
                3905 TG Veenendaal<br />
                Tel: +31 318 552020<br />
                Email: info@kantilever.nl<br />
                IBAN: NL44 INGB 00058 54051
            </p>
        </div>
    </div>
    <div class="clearfix"></div>
        <h2>Ordergegevens</h2>
        <hr />
        <span class="margin-right-receipt">
            Factuurnummer: @Model.FactuurNummer
        </span>
        <span class="margin-right-receipt">
            Factuurdatum: @Html.DisplayFor(modelItem => Model.FactuurDatum)
        </span>
    <table class="table">
        <tr>
            <th>
                Artikel
            </th>
            <th>
                Prijs (incl. BTW)
            </th>
            <th>
                Aantal
            </th>
            <th>
                Totaal (incl. BTW)
            </th>
        </tr>
        @foreach (var item in Model.Artikelen)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtikelNaam)
                </td>
                <td>
                    € @Html.DisplayFor(modelItem => item.Prijs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aantal)
                </td>
                <td>
                    € @(item.Prijs * item.Aantal)
                </td>
            </tr>
        }
        <tr>
            <td class="total"></td>
            <td class="total"></td>
            <td class="total">
                <div class="pull-right">
                    Totaal Excl. BTW: <br />
                    @Model.BTWPercentage% BTW Totaal: <br />
                    Totaal Incl. BTW:
                </div>
            </td>
            <td class="total">
                € @Model.TotaalExclBTW <br />
                € @Model.TotaalBTW <br />
                € @Model.TotaalInclBTW
            </td>
        </tr>
    </table>
    <button id="factuurbutton" class="no-print btn-primary btn-lg clearfix pull-right">Afleveradres tonen</button>
</div>
@* End Factuur Page *@
@* Begin Afleveradres Page *@
<div id="afleveradres" class="hide">
    <h2 class="no-print">Afleveradres</h2>
    <div class="sticker">
        <h1>
            @Html.DisplayFor(modelItem => Model.KlantNaam)
        </h1>
        <h1>
            @Html.DisplayFor(modelItem => Model.Adresregel1)
        </h1>
        @if (Model.Adresregel2 != null)
        {
            <h1>
                @Html.DisplayFor(modelItem => Model.Adresregel2)
            </h1>
        }
        <h1>
            @Html.DisplayFor(modelItem => Model.Postcode) @Html.DisplayFor(modelItem => Model.Woonplaats)
        </h1>
    </div>
            @Html.ActionLink("Volgende bestelling", "Index", "Bestelling", new { area = "" }, new { @class = "btn btn-primary btn-lg bestel-knop no-print pull-right" })
</div>
@* End Afleveradres Page *@
<div class="clearfix"></div>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(document).ready(function () {
        $("#bestelbutton").click(function ()
        {
            console.log("ajax call");
            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangeStatus", "Bestelling")',
                contentType: "application/json; charset=utf-8",
                data: "{ 'bestellingID': '@Model.BestellingID' }",
                dataType: "json",
                success: function () { alert('Success'); }
            });
            $("#bestellen").toggleClass("hide");
            $("#factuur").toggleClass("hide");
        });
        $("#factuurbutton").click(function ()
        {
            $("#factuur").toggleClass("hide");
            $("#afleveradres").toggleClass("hide");
        });
    });
</script>

